<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="150" alt="Zipcode Logo"
    src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/740/s300/988917-466484546847892-5279792848386255857-n.jpg">
</div>
<div style="text-align:center">
  <h5>These are the apps key components.</h5>
  <app-text-area></app-text-area>
  <app-text-input></app-text-input>
</div>

<p>Here are some links that might help you with this lab: </p>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>